@page "/Logs"

@using InfinityModEngine.Common.Logging;

<h1>Logs</h1>

<hr />

<div class="log-textarea">
@foreach(var log in InfinityModTool.AppLogger.GetLogs())
{
    <span class="@GetLogSeverityClass(log.severity)">[@log.date.ToString("dd/MM/yyyy hh:sstt")] - @log.message</span>
}
</div>

@code {

    public string GetLogSeverityClass(LogSeverity severity)
    {
        switch (severity)
        {
            case LogSeverity.Warning:
                return "warning";
            case LogSeverity.Error:
                return "error";
        }

        return string.Empty;
    }

}