@page "/Settings"
@inject InfinityModTool.Services.ModService modService;

<h1>Settings</h1>

<hr />

<div class="settings-container">
    <div class="settings-row">
        <label for="setting-steampath">Steam Installation Path</label>
        <div class="settings-options">
            <input type="text" id="setting-steampath" class="form-control" @bind="@SteamInstallationPath" />
        </div>
    </div>
</div>

<hr />

<button @onclick="@SaveSettings" class="btn btn-primary">Save</button>

@code {
    string SteamInstallationPath { get; set; }

    protected override void OnInitialized()
    {
        SteamInstallationPath = modService.Settings.SteamInstallationPath;
    }

    void SaveSettings()
    {
        modService.Settings.SteamInstallationPath = SteamInstallationPath;
        modService.SaveSettings();
    }
}