@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    @*<div class="top-row px-4">
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>*@

    <div class="content px-4">
        @Body
    </div>

    <div class="prerelease-banner alert alert-danger no-margin">
        <span class="icon alert-danger"></span>This tool is in a pre-release state, and is not intended for public use yet
    </div>
</div>
