<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Infinity Mod Tool</a>
    <span class="version-number">v0.0.1</span>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="nav-icon character" aria-hidden="true"></span> All
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="mods/character" Match="NavLinkMatch.All">
                <span class="nav-icon character" aria-hidden="true"></span> Characters
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="mods/playset" Match="NavLinkMatch.All">
                <span class="nav-icon character" aria-hidden="true"></span> Playsets
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="mods/costumecoin" Match="NavLinkMatch.All">
                <span class="nav-icon character" aria-hidden="true"></span> Costume Coins
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Settings">
                <span class="nav-icon gear" aria-hidden="true"></span> Settings
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
