@inject InfinityModTool.Services.ModService modService;

<div class="top-row pl-4 navbar navbar-dark">
    <span class="tool-logo" aria-hidden="true"></span>
    <a class="navbar-brand" href="">Infinity Mod Tool</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="nav-icon all" aria-hidden="true"></span> All
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="mods/character" Match="NavLinkMatch.All">
                <span class="nav-icon character" aria-hidden="true"></span> Characters
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="mods/playset" Match="NavLinkMatch.All">
                <span class="nav-icon playset" aria-hidden="true"></span> Playsets
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="mods/costumecoin" Match="NavLinkMatch.All">
                <span class="nav-icon costumecoin" aria-hidden="true"></span> Costume Coins
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="mods/powerdisc" Match="NavLinkMatch.All">
                <span class="nav-icon powerdisc" aria-hidden="true"></span> Power Discs
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="mods/misc" Match="NavLinkMatch.All">
                <span class="nav-icon misc" aria-hidden="true"></span> Miscellaneous
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Settings" Match="NavLinkMatch.All">
                <span class="nav-icon gear" aria-hidden="true"></span> Settings
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Logs" Match="NavLinkMatch.All">
                <span class="nav-icon logs" aria-hidden="true"></span> Logs
            </NavLink>
        </li>

        @*@if (modService.Settings.ModdingToolsEnabled)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Tools">
                    <span class="nav-icon gear" aria-hidden="true"></span> Modding Tools
                </NavLink>
            </li>
        }*@
    </ul>

    <span class="version-number">v0.0.1</span>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
