<div>
    <div class="popup-container">
        <div class="popup-dialog">
            @if (ShowIcon)
            {
                <div class="popup-icon">
                    <img src="img/alert-info.svg" />
                </div>
            }
            @if (!string.IsNullOrEmpty(Title))
            {
                <div class="popup-title">
                    @Title
                </div>
            }
            <div class="popup-message">
                @Message
            </div>
            <div class="popup-buttons">
                <button type="button" class="btn btn-primary" @onclick="OnDismissed">Ok</button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public string Title { get; set; } = null;
    [Parameter] public string Message { get; set; } = "[Insert Alert Message]";
    [Parameter] public string OkText { get; set; } = "Ok";
    [Parameter] public bool ShowIcon { get; set; } = true;
    [Parameter] public EventCallback OnDismissed { get; set; }
}